<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title th:text="${navName}"></title>
    <link rel="shortcut icon" th:if="${logoToFavicon}" th:href="${logoPath}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/lib/iview/iview.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/index.css}">
</head>
<body>
<div v-cloak id="app">
    <Layout>
        <Layout>
            <!-- 顶部导航 -->
            <i-header class="layout-header-bar">
                <div class="header-wapper">
                    <div class="header-left">
                        <Icon @click.native="collapsedSider"
                              :class="rotateIcon" type="md-menu"
                              size="26"></Icon>
                        <i-input class="header-search"
                                 search
                                 placeholder="输入关键字回车搜索..."
                                 v-model.trim="keywords"
                                 @on-search="loadTree"></i-input>
                        <carousel-flip-notice></carousel-flip-notice>
                    </div>
                    <home-header-right></home-header-right>
                </div>
            </i-header>
        </Layout>
        <!-- 侧边栏和内容区域 -->
        <Layout>
            <!-- 侧边栏：不折叠 -->
            <Sider ref="sidebar" class="sidebar sidebar-fixed">
                <i-menu ref="side_menu"
                        theme="light"
                        active-name="1">
                    <template v-for="item in datas" :key="item.id">
                        <menu-item :name="item.name" @click.native="choosedMenu(item.id)">
                            <Icon :size="24" :type="item.icon"></Icon>
                            <span>{{item.name}}</span>
                        </menu-item>
                    </template>
                </i-menu>
            </Sider>

            <!-- 内容区域：通栏布局 -->
            <Layout class="sidebar-show">
                <home-card-list :datas="datas"></home-card-list>
                <back-top @on-click="scrollToTop"></back-top>
            </Layout>
        </Layout>
        <!-- 底部区域 -->
        <i-footer class="layout-footer-bar">
            <div class="footer-content">
                <p>&copy; 2024 Team Navigation. All rights reserved.</p>
            </div>
        </i-footer>
    </Layout>
</div>

<!-- 引入脚本 -->
<script type="text/javascript" th:if="${isIe}" th:src="@{/assets/js/babel.min.js}"></script>
<script type="text/javascript" th:if="${isIe}" th:src="@{/assets/js/polyfill.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/iview/iview.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/axios.min.js}"></script>
<script th:type="${isIe?'text/babel':'text/javascript'}" charset="UTF-8" th:src="@{/assets/js/vue-utils.js}"></script>
<div th:replace="components/carousel-flip-notice::carousel-flip-notice"></div>
<div th:replace="components/home-card-list::home-card-list"></div>
<div th:replace="components/home-header-right::home-header-right"></div>
<script type="text/javascript" th:inline="javascript">
    const defLayoutSize = /*[[${layoutSize}]]*/ 'small-layout';
</script>
<script th:type="${isIe?'text/babel':'text/javascript'}" charset="UTF-8" th:src="@{/assets/js/index.js}"></script>
</body>
</html>
